<!DOCTYPE html>
<html>
<head>
    <title>Geschlecht und Altersspanne auswählen</title>
</head>
<body>
    <h1>Geschlecht und Altersspanne auswählen</h1>
    <form method="POST" action="/verarbeiten">
        <label for="geschlecht_m">Männlich</label>
        <input type="radio" name="geschlecht" id="geschlecht_m" value="männlich">
        
        <label for="geschlecht_w">Weiblich</label>
        <input type="radio" name="geschlecht" id="geschlecht_w" value="weiblich">
        
        <br><br>
        
        <label for="alter_von">Alter von:</label>
        <input type="number" name="alter_von" id="alter_von" min="20" max="60" required>
        
        <label for="alter_bis">bis:</label>
        <input type="number" name="alter_bis" id="alter_bis" min="20" max="60" required>
        
        <br><br>
        
        <input type="submit" value="Auswählen">
    </form>
</body>
</html>
