{% extends "index.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>FHIR-Abfrage-Tool</title>
</head>
<body>
    <h1>Anfrage über ein Excel-File</h1>
    <form action="/xls_abfrage" method="post">
        <label for="xls_abfrage">Geben Sie eines der Schlüsselworte ('Patient-ID', 'Vorname', 'Nachname', 'Anschrift', 'Geburtsdatum',
       'Geschlecht', 'Krankenkasse', 'Datum Einwilligung', 'PDAT Einwilligung',
       'KKDAT retro Einwilligung', 'KKDAT Einwilligung', 'BIOMAT Einwilligung',
       'BIOMAT Zusatz Einwilligung', 'Alter') ein:</label>
        <input type="text" id="xls_abfrage" name="xls_abfrage" required>
        <input type="submit" value="Ausführen">
</body>
    </form>
</body>
</html>
{% endblock %}
