{% extends "index.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>FHIR-Abfrage-Tool</title>
</head>
<body>
    <h1>Anzeige aller Schlüssels des ndjson-Files</h1>
    <form action="/json_abfrage2" method="post">
        <label for="json_abfrage2">Geben Sie einen der Schlüssel (entry, resourceType, type') ein:</label>
        <input type="text" id="json_abfrage2" name="json_abfrage2" required>
        <input type="submit" value="Ausführen">
    </form>
    <p><a href="/json_table">Anzeigen der ersten 5 Einträge des ndjson-Files</a></p>
    </a></p>
</body>
</html>
{% endblock %}
